body{
    background-color: #001101;;
    font-family: 'Press Start 2P', cursive;
    color: #208927;
    text-align: center;
}

h1{
    margin: 3% 0% 3% 0%;
}

input{
    font-family: 'Press Start 2P', cursive;
    margin: 1.5% 0% 1% 0%;
    font-size: 1.5em;
    background-color: #001101;;
    color: #208927;
    border-color: #208927;
    padding: 0.3em;
}
span{
    font-size: 30px;
    color: #208927;
    margin: 0em;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    width: 4em;
    background-color: #001101;
    color: #208927;
    border-color: #208927;
    padding: 0.3em 0.4em 0.3em 0.4em;
}

footer{
    margin-top: 10%;
    color: #208927;
    display: inline-block;
}

a{
    color:#208927;
    text-decoration: none;
}

a:hover{
    color: rgb(23, 87, 32);
}

p{
    font-size: 1.2em;
    display: inline-block;
}

button:hover{
    background-color: #208927;
    color: #001101;
    border-color: #001101;
}
#entrada{
    border-color: #208927;
    position: relative;
    align-items: center;
    text-align: center;
}

#saida{
    margin-top: 10%;
    position: relative;
    align-items: center;
    text-align: center;
}