body{
    background-color: #202120;;
    font-family: 'Press Start 2P', cursive;
    color: green;
    text-align: center;
}

h1{
    margin-top: 10%;
}

input{
    font-family: 'Press Start 2P', cursive;
    margin-top:10%;
    font-size: 30px;
    background-color: #202120;;
    color: green;
    border-color: green;
}
span{
    font-size: 30px;
    color: green;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    background-color: #202120;
    color: green;
    border-color: green;
}

#entrada{
    border-color: green;
    position: relative;
    align-items: center;
    text-align: center;
}

#saida{
    margin-top: 10%;
    position: relative;
    align-items: center;
    text-align: center;
}