body{
    background-color: #202120;;
    font-family: 'Press Start 2P', cursive;
    color: green;
    text-align: center;
}

h1{
    margin: 3% 0% 3% 0%;
}

input{
    font-family: 'Press Start 2P', cursive;
    margin: 1.5% 0% 1% 0%;
    font-size: 190%;
    background-color: #202120;;
    color: green;
    border-color: green;
}
span{
    font-size: 30px;
    color: green;
    margin: 0em;
}
button{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8em;
    background-color: #202120;
    color: green;
    border-color: green;
}

footer{
    margin-top: 10%;
    color: green;
    display: inline-block;
}

a{
    color:green;
    text-decoration: none;
}

a:hover{
    color: rgb(23, 87, 32);
}

p{
    font-size: 1.2em;
    display: inline-block;
}

button:hover{
    background-color: green;
    color: #202120;
    border-color: #202120;
}
#entrada{
    border-color: green;
    position: relative;
    align-items: center;
    text-align: center;
}

#saida{
    margin-top: 10%;
    position: relative;
    align-items: center;
    text-align: center;
}